@font-face {
    font-family: 'CustomFont';
    src: url('../d-din/D-DIN-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../images/backgrounds/maubau_background.png');
    font-family: 'CustomFont', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: #3c1680;    
}

h1, p {
    font-size: 32px;
    position: absolute;
    margin: 0;
}

h1 {
    font-size: 32px;
}

.p1 {
    font-size: 16px;
    top: 20px;
}

.p2 {
    font-size: 32px;
}

.white-line {
    border: 2px solid #ffffff;
}

@media only screen and (max-width: 992px) {
    body {
        background-image: url('../images/backgrounds/maubau_background_index_mobile.png');
        background-size: cover;
        background-repeat: repeat;
        max-width: 100%;
        height: auto; 
        font-family: 'CustomFont', serif;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    /*

    h1, o {
        position: absolute;
        margin: 0;
    }
    
    h1 {
        top: 20px;
        left: 10%;
    }
    
    p {
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
    }
    
    .p1 {
        top: 20px;
        right: 10%;
    }
    
    .p2 {
        top: 45px;
        right: 10%;
    }
    
    .p3 {
        top: 70px;
        right: 10%;
    }
    */
    
    .p2 {
        font-size: 20px;
        /* top: 50%; */
        /* left: 10%; */
    }
}
    /*
    .white-line {
        border: 2px solid #ffffff;
        width: 45%;
        position: absolute;
        top: 55px;
        left: 0;
    }
} */
