@font-face {
    font-family: 'CustomFont';
    src: url('d-din/D-DIN-Italic.otf') format('opentype'); /* Adjust the font file name and format */
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('maubau_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'CustomFont', serif;
    color: #ffffff;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1 {
    font-family: 'CustomFont', serif;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 20%;
    margin: 0;
}

p {
    font-family: 'CustomFont', serif;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top: 20px;
    margin: 0;
}

.p1 {
    right: 30%;
}

.p2 {
    right: 25%;
}

.p3 {
    right: 20%;
}

o {
    font-family: 'CustomFont', serif;
    font-size: 32px;
    margin: 0;
/*     display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; */
}

.white-line {
    border: 2px solid #ffffff; /* Set the color and thickness of the line */
    width: 30%; /* Set the length of the line */
    position: absolute;
    top: 55px; /* Set the vertical position of the line */
    left: 0; /* Set the horizontal position of the line */
}

.centered-text {
            max-width: 60%; /* Set your desired maximum width */
            margin-left: 20%; /* Start the text block at 20% from the left */
            text-align: left; /* Align the text to the left within the block */
        }

@media only screen and (max-width: 600px) {
            body {
                font-size: 14px;
            }

            header, footer {
                font-size: 16px;
            }
        }
