@font-face {
    font-family: 'CustomFont'; /* creating a custom font */
    src: url('d-din/D-DIN-Italic.otf') format('opentype'); /* linking the external D-DIN font */
    font-weight: normal; /* sets the boldness to normal */
    font-style: normal; /* sets the font-style to normal */
}

body {
    background-image: url('maubau_background.png'); /* sets the background */
    background-size: cover; /* covers the whole page with the background */
    background-repeat: repeat; /*  */
    max-width: 100%;
    height: auto; 
    font-family: 'CustomFont', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    top: 20px;
    left: 20%;
    margin: 0;
}

p {
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    top: 20px;
    margin: 0;
}

.p1 {
    right: 35%;
}

.p2 {
    right: 28%;
}

.p3 {
    right: 20%;
}

o {
    position: absolute;
    font-size: 32px;
    top: 50%;
    left: 20%;
    margin: 0;
}

.white-line {
    border: 2px solid #ffffff;
    width: 28%;
    position: absolute;
    top: 55px;
    left: 0;
}

@media only screen and (max-width: 50%) {
            body, p {
                font-size: 14px;
                position: absolute;
                .p1 {
                    top: 70px;
                }
                .p2 {
                    top: 90px;
                }
                .p3 {
                    top: 110px;
                }
            }

            header, footer, o {
                font-size: 16px;
            }
        }
