@font-face {
    font-family: 'CustomFont'; /* creating a custom font */
    src: url('../d-din/D-DIN-Italic.otf') format('opentype'); /* linking the external D-DIN font */
    font-weight: normal; /* sets the boldness to normal */
    font-style: normal; /* sets the font-style to normal */
}

body {
    background-image: url('../backgrounds/maubau_background_products.png'); /* sets the background */
    background-size: cover; /* covers the whole page with the background */
    background-repeat: repeat;
    max-width: 100%;
    height: auto; 
    font-family: 'CustomFont', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
}

a:hover {
    color: #3c1680;    
}

h1, p, o {
    position: absolute;
    margin: 0;
}

h1 {
    top: 20px;
    left: 20%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    top: 20px;
}

.p1 {
    right: 35%;
}

.p2 {
    right: 28%;
}

.p3 {
    right: 20%;
}

o {
    font-size: 32px;
    top: 50%;
    left: 20%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 409.6px;
    height: 307.2px;
    position: absolute;
    margin: 10px; /* Adjust the spacing between images */
    border: 4px solid #ccc3c3;
}

/* Position the images horizontally at 25%, 50%, and 75% */
.image1 {
    top: 50%;
    left: 19%;
    margin-top: -153.6px; /* Half of the image height */
    margin-left: -204.8px; /* Half of the image width */
    /* margin-right: auto; */
}

.image2 {
    top: 50%;
    left: 50%;
    margin-top: -153.6px; /* Half of the image height */
    margin-left: -204.8px; /* Half of the image width */
    /* margin: 0 auto; */
}

.image3 {
    top: 50%;
    left: 81%;
    margin-top: -153.6px; /* Half of the image height */
    margin-left: -204.8px; /* Half of the image width */
    /* margin-left: auto; */
}

.white-line {
    border: 2px solid #ffffff;
    width: 28%;
    position: absolute;
    top: 55px;
    left: 0;
}

@media only screen and (max-width: 720px) {
    body {
        background-image: url('../backgrounds/maubau_background_index_mobile.png'); /* sets the background */
        background-size: cover; /* covers the whole page with the background */
        background-repeat: repeat; /*  */
        max-width: 100%;
        height: auto; 
        font-family: 'CustomFont', serif;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    h1, p, o {
        position: absolute;
        margin: 0;
    }
    
    h1 {
/*         font-size: 16px; */
        top: 20px;
        left: 10%;
    }
    
    p {
        font-size: 14px;
        line-height: 1.5;
        margin: 0;
    }
    
    .p1 {
        top: 20px;
        right: 10%;
    }
    
    .p2 {
        top: 45px;
        right: 10%;
    }
    
    .p3 {
        top: 70px;
        right: 10%;
    }
    
    o {
        font-size: 20px;
        top: 50%;
        left: 10%;
    }
    
    .white-line {
        border: 2px solid #ffffff;
        width: 45%;
        position: absolute;
        top: 55px;
        left: 0;
    }
}
